.formcontato__img{
    display: none;
}


@media screen and (min-width: 1024px) {
    .formcontato__img{
        display: block;
        width: 100%;        
        height: 100%;
        object-fit: cover;        
    }
}