.formcontato__boton {
    width: fit-content;
    text-align: center;
    padding: 1rem;
    background-color: var(--color_boton);
    color: white;
    border: 1px solid var(--color_boton);
    cursor: pointer;

}

.formcontato__boton:hover {
    color: black;
    background-color: var(--color_boton);
    border: 1px solid black;
    
}

.not-active { 
    pointer-events: none; 
    cursor: default; 
    background-color: var(--color-fondo_1);
    color: white;
    border: 1px solid var(--color-borde_2);
} 